*{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: "Bayon", sans-serif;

}
body{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: #480E0E;
    width: 100%;
    height: 10%;
}

/*NAV STUFF V*/
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    height: 100%;
}

.logo{
    height: 5vh;
    width: fit-content;
}
nav ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav section{
    margin-right: 2rem;
}

.TopButtons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    place-content: center; /*setea align items y justify items a la vez*/
    margin: 0;
    position: relative;
    cursor: pointer;
    flex-direction: row;
}

.TopButtons img {
  width: 20px;
  height: 20px;
}

.TopButtons::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.5s ease;
    bottom: 0;
    left: 0;
}

.TopButtons:hover::before {
  transform: scaleX(1);
}

nav aside{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 0.5rem;
    height: 100%;
    width: auto;
}

/*MAIN STUFF V*/

main{
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: row;
}

.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0;
}

.top {
    background-color: #a44;
    color: white;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-left, .bottom-right {
    background-color: #444;
    border: white;
    height: 30vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
