RewriteEngine On

# Redirigir raíz (/) a /home (visible en URL)
RewriteRule ^$ /homePage/home.html [R=302,L]

# Verificar cuenta por medio de link de brindada por el correo
RewriteRule ^auth/activar$ /php/scripts/auth/activar.php [L,QSA]

# Restablecer Contraseña por medio de link de brindada por el correo
RewriteRule ^auth/recuperar$ /auth/recuperar.html [L,QSA]

# Entrar a Partida por link
RewriteRule ^game/join$ /php/scripts/game/lobbyGuest.php [L,QSA]

# Verificar Acceso valido a una partida
RewriteRule ^game/game.html$ /php/scripts/game/entrypoint.php [L,QSA]

# Verificar Acceso valido a una lobby
RewriteRule ^lobby/hostLobby/lobby.html$ /php/scripts/game/lobbyHost.php [L,QSA]

# Verificar Acceso valido a una lobby
RewriteRule ^lobby/guestLobby/lobby.html$ /php/scripts/game/lobbyGuest.php [L,QSA]

# HTML Error
ErrorDocument 400 /error/400.html
ErrorDocument 403 /error/403.html
ErrorDocument 404 /error/404.html
