*{
    margin: 0;
    padding: 0;
}

.buttonsTopRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 65px;
    color: #D59F0A;
    display: flex;
    flex-direction: column;
}
.main-container{
    background-image: url(../Resources/Backgrounds/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.gamelogo img {
    width: 30vw;
    height: auto;
}


.footer-menu {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%); /* Instead of bottom: -70px */
    height: 15vh;
    width: 60vw;
    background-color: #A44141;
    border-radius: 100%;
    display: flex;
    flex-direction: column;

    transition:
        transform 0.6s ease,
        opacity 0.6s ease,
        height 0.6s ease,
        border-radius 0.6s ease;
}

.footer-buttonRow{
    display: flex;
    margin: none;
    padding: none;
    flex-direction: row;
    position: relative;
    bottom: 5vh;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
}
.visible .footer-buttonRow{
    bottom: 5vh;
    height: fit-content;
}
.footer-buttonRow .circle-button{
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#270707 0 -3px 0 inset;
    background-color: #480E0E;
    height: 70px;
    width: 70px;
}
footer .circle-button:active {
    box-shadow: #270707 0 3px 7px inset;
    transform: translateY(2px);
}


#PLAYbtn{
    margin-bottom: 5vh;
}

.visible{
    height: 80vh;
    border-radius: 0%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;

    transform: translateX(-50%) translateY(0%);
}

.hiding {
    height: 15vh;
    transform: translateX(-50%) translateY(50%);
}
.hidden{
    display: none !important;
}

.footerbody{ 
    margin-left: 7vw;
    margin-right: 7vw;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    
}
.visible .footerbody{
    position: relative;
    bottom: 7vh;
}
.footerTitle{
    all: unset;
    font-size: 40px;
    color: #D59F0A;
    text-shadow: 0px 4px 1px black;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#PROFILE .circle-button{
    width: 50px;
    height: 50px;
}
.row > *{
    width: fit-content;
}
.volSlider{
    width: 30%;
}
.customDropdown{
    background-color: #480E0E;
    border: 1px solid #270707;
    color: #D59F0A;
    -webkit-text-stroke: 0px black;
    text-shadow: 0px black;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 0,rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
}
.customDropdown:hover{
    background-color: #480E0E;
    border-color: #b18409;
    color: #D59F0A;
}
.customDropdown:focus{
    background-color: #480E0E;
    color: #D59F0A;
    border-color: #b18409;
}
.customdropdownmenu{
    background-color: #480E0E;
    border-color: #b18409;
}

.dropdown-item{
    color: #D59F0A;
    -webkit-text-stroke: 0px black;
    text-shadow: 0px black;
}
.dropdown-item:hover{
    color: #D59F0A;
    background-color: #A44141;
}
hr {
    margin: 0;
    padding: none;
    height: 5px;
    width: 100%;
    background-color: #000; 
    border: none;
    border-radius: 5rem;
}
.playSection{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.playSection input{
    all: unset;
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid #b18409;
    width: fit-content;
    height: 5vh;
    font-size: 2rem;
}
.playSection .circle-button{
    width: fit-content;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #b18409;
}
.nav-tabs .nav-link {
    margin-top: 1rem;
    width: fit-content;
    font-size: 32px;
    color: #D59F0A;      /* Inactive tab text color */
    border: 0;
}
.nav-tabs .nav-link.active {
    background-color: #732E2E;
    color: white !important;     /* Force override Bootstrap's blue */
    border-color: white;
}
.tab-content{
    border: 0;
    background-color: #732E2E;
    height: 50vh;
    width: 100%;
}
.profilepic{
    height: 70px;
    width: 70px;
}

.space-between{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.playSection .custom-button{
    font-size: 24px;
}


@media screen and (max-width: 900px) {
    .nav-tabs .nav-link {
        padding: 0.5rem 0.75rem;  /* Less vertical and horizontal padding */
        line-height: 1.5;
        font-size: 28px;
        color: #D59F0A;      /* Inactive tab text color */
        border: 0;
    }
    .tab-content{
        font-size: 24px;
    }
    .footer-menu{
        width: 110vw;
    }
    .circle-button{
        width: 40px;
        height: 40px;
    }
    
    footer .circle-button img{
        height: 40px;
    }
}   

@media screen and (max-width: 450px) {
    
    .footer-buttonRow .circle-button{
        height: 55px;
        width: 55px;
    }
    .footer-buttonRow .circle-button img{
        height: 30px;
        width: 30px;
    }
    .playSection input{
        font-size: 24px;
    }
    .nav-tabs .nav-link {
        padding: 0.25rem 0.5rem;  /* Less vertical and horizontal padding */
        line-height: 1.5;
        font-size: 24px;
        color: #D59F0A;      /* Inactive tab text color */
        border: 0;
    }
    .tab-content{
        font-size: 24px;
    }
}   

@media screen and (max-height: 700px){
    .playSection{
        gap:0.5rem;
    }
    .playSection.circle-button{
        width: fit-content;
        height: 30px;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: 16px !important;
    }
}