*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Bayon", sans-serif;
    font-weight: bolder;
    line-height: 65px;
    color: #D59F0A;

    -webkit-text-stroke: 0.2px #480E0E;
    text-shadow: 0px 4px 1px black;
}
main{
    all: unset;
    position: fixed;
    background-image: url(../Resources/Backgrounds/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* So it pushes logo to middle and footer to bottom */
    width: 100vw;
    flex-direction: column;
}
.gamelogo img {
    width: 30vw;
    height: auto;
}

header:not(footer header){
    all: unset;
    user-select: none;
    height: 5vh;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #480E0E;
}
.logo{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: 100%;

}
.circle-button {
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b18409 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform; /*le avisa al buscador que las propiedades  cambiarán, hace queel componente se renderice en una capa propia y permite animaciones mas fluidas*/

    background-color: #D59F0A;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*button anims*/
.circle-button:hover {
    transform: translateY(-2px);
}

.circle-button:active {
    box-shadow: #b18409 0 3px 7px inset;
    transform: translateY(2px);
}


.circle-button img {
    height: 30px;
    width: auto;
}


footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%); /* Instead of bottom: -70px */
    height: 15vh;
    width: 60vw;
    background-color: #A44141;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    
}

footer .circle-button{
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#270707 0 -3px 0 inset;
    background-color: #480E0E;
    height: 70px;
    width: 70px;
}
footer .circle-button:active {
    box-shadow: #270707 0 3px 7px inset;
    transform: translateY(2px);
}

.footer-container{
    
    display: flex;
    margin: none;
    padding: none;
    flex-direction: row;
    position: relative;
    bottom: 5vh;
    justify-content: space-evenly;
    align-items: center;
}

#PLAYbtn{
    margin-bottom: 5vh;
}

.visible{
    height: 150vh;
    border-radius: 30%;
}
.locked {
  pointer-events: none;
  user-select: none;
  opacity: 1;
}

.footerbody{
    margin-left: 7vw;
    margin-right: 7vw;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}
.footerbody h2{
    all: unset;
    font-size: 40px;
    color: #D59F0A;

    -webkit-text-stroke: 0.2px #480E0E;
    text-shadow: 0px 4px 1px black;
}

.footersettings{
    height: inherit;
    width: inherit;
}

.row{
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 90%;
    height: fit-content;
}
.row span{
    width: fit-content;
    padding: none;
}
.volSlider{
    width: 30%;
}
.customDropdown{
    background-color: #480E0E;
    border: 1px solid #270707;
    color: #D59F0A;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 0,rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
}
.customDropdown:hover{
    background-color: #480E0E;
    border-color: #b18409;
    color: #D59F0A;
}
.customDropdown:focus{
    background-color: #480E0E;
    color: #D59F0A;
    border-color: #b18409;
}
.customdropdownmenu{
    background-color: #480E0E;
    border-color: #b18409;
}

.dropdown-item{
    color: #D59F0A;
}
.dropdown-item:hover{
    color: #D59F0A;
    background-color: #A44141;
}
@media screen and (max-width: 720px) {
    footer{
        height: 20vh;
        width: 110vw;
    }
    .circle-button{
        width: 40px;
        height: 40px;
    }
    footer .circle-button{
        width: 80px;
        height: 80px;
    }
    footer .circle-button img{
        height: 40px;
    }
    .footer-container{
        margin-bottom: 5vh;
    }
}   