main {
    height: 95dvh;
    background-color: #A44141;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #732E2E;
    padding: 10px;
    border-radius: 1rem;
    width: 50vw;
    justify-self: center;
    justify-items: left;
    align-items: center;
    justify-content: center;
}

button {
    color: white;
}

h2, label{
    margin-bottom: 0 !important;
}

#x {
    color: white;
}

#checkbox {
    display: flex;
    margin-bottom: 0;
    height: 14dvh;
}

#login {
    display: block;
    border: #D59F0A;
    background-color: #D59F0A;
    height: 7dvh;
    width: 250px;
}

#boton-area {
    width: 50dvw;
    justify-items: center;
}

div {
    height: 16.83dvh;
    width: 90%;
    align-self: center;
}

p {
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 0;
    align-self: center;
    font-size: 14px;
    line-height: 17px;
    -webkit-text-stroke: 0;
    letter-spacing: 2px;
}

.form-check-input {
    margin-left: 0px !important;
    margin-top: 20px;
}

.form-control {
    width: 70%;
}
.customRow{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4vh;
}

.circle-button {
    display: flex;

    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b18409 0 -3px 0 inset;
    box-sizing: border-box;
    
    line-height: 1;
    list-style: none;
    overflow: hidden;

    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform; /*le avisa al buscador que las propiedades  cambiarán, hace queel componente se renderice en una capa propia y permite animaciones mas fluidas*/

    background-color: #D59F0A;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*button anims*/
.circle-button:hover {
    transform: translateY(-2px);
}

.circle-button:active {
    box-shadow: #b18409 0 3px 7px inset;
    transform: translateY(2px);
}

header .circle-button{
    height: 50px;
}
@media screen and (max-width: 720px) { 
    form {
        width: 80dvw;
        justify-self: center;
        justify-items: left;
    }

    .form-control {
        width: 70%;
    }
    .circle-button{
        width: 60px !important;
        height: 30px;
        padding: 0 30px;
    }
    #boton-area {
    width: 80dvw;
    justify-items: center;
}
}