*{
    margin: 0;
    padding: 0;
}
body,html{
    overflow: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: "Bayon", sans-serif;
    font-weight: bolder;
    line-height: 65px;
    color: #D59F0A;

    -webkit-text-stroke: 1px #480E0E;
    text-shadow: 0px 4px 1px black;
}

header:not(main header){
    all: unset;
    user-select: none;
    height: 5vh;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #480E0E;
}
header section{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.logo{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: 100%;

}
.circle-button {
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b18409 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform; /*le avisa al buscador que las propiedades  cambiarán, hace queel componente se renderice en una capa propia y permite animaciones mas fluidas*/

    background-color: #D59F0A;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*button anims*/
.circle-button:hover {
    transform: translateY(-2px);
}

.circle-button:active {
    box-shadow: #b18409 0 3px 7px inset;
    transform: translateY(2px);
}


.circle-button img {
    height: 30px;
    width: auto;
}

main{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100vw;
    background-color: #A44141;

    align-items: center;
    gap: 5vh;
}
.profileContainer{
    
    height: fit-content;
    width: fit-content;
    min-width: 105px;
    min-height: 105px;
    padding: 5px; /*profileborder*/
    background-color: #480E0E;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}
main .circle-button{
    width: fit-content;
    border-radius: 5rem;
    font-size: 32px;
    color: white;
    padding: 10px 24px;
}
.col{
    margin: 0;
    width: fit-content;
}
.container{
    max-width: 40vw;
}
span {
    font-size: 2rem;
    line-height: 1;
    height: calc(fit-content -10px);
}


.modal-header{
    border-bottom: 0;
    width: 94%;
    height: 10%;
}
.modal-content{
    border-top: 0;
    background-color: #A44141;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.modal-footer{
    height: 90%;
}

.modal-content .circle-button{
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    -webkit-text-stroke: 0px;
}

@media (max-width: 768px) {
    .profileContainer img{
        height: 70px;
        width: 70px;
    }
    .profileContainer{
        min-height: 75px;
        min-width: 75px;
        padding: 5px;
    }
}
@media screen and (max-width:550px){
    .modal-header{
        width: 90%;
    }
    
}