*{
    padding: 0;
    margin: 0;
    font-family: "Bayon", sans-serif;


}

body{
    height: 100vh;
    width: 100vw;
}
header{
    color: white;
    background-color: #480E0E;
    width: 100%;
    height: 10%;
}

nav section button{
    all: unset;
}

nav a, main a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    height: 100%;
}

.logo{
    height: auto;
    width: clamp(7rem, 10vw, 10rem);
}
nav ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.buttons-row{
    margin-right: 2rem;
}

.TopButtons{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #D59F0A;
    -webkit-text-stroke: 1px #480E0E;
    text-shadow: 0px 3px 0px black;
    place-content: center; /*setea align items y justify items a la vez*/
    margin: 0;
    position: relative;
    cursor: pointer;
    flex-direction: row;
}

.TopButtons img {
  width: clamp(1rem, 1.5vw, 1.5rem);
  height: 3vh;
}

.TopButtons::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.5s ease;
    bottom: 0;
    left: 0;
}

.TopButtons:hover::before {
  transform: scaleX(1);
}

.logo-container{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 0.5rem;
    height: 100%;
    width: auto;
}

main{
    overflow: hidden;
    position: relative;
    font-size: 24px;
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*----------NAV BUTTON STUFF----------*/

/*profile*/
.drop-down {

    background-image: url(Resources/Backgrounds/Letrero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 70%;
    
    z-index: 2;
    
    /* Initial state */
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.profile{
    display: flex;
    flex-direction: column;
    
    color: #dbdbdb;
    -webkit-text-stroke: 1px #480E0E;
    text-shadow: 0px 3px 0px black;
    gap: 0.3rem;

    padding-top: 25vh;
    padding-left: 10vw;
}
.profile h1, .profile p{
    font-size: 2.2vw;
    display: flex;
    align-items: center;
    justify-items: center;
}

.profile p{
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-items: center;
}

h1 img{
    width: clamp(1rem, 4vw, 3rem);
    height: 4vh;
}


main .drop-down.visible {
  transform: translateY(0);
}


/*settings*/
.side-bar{
    background-image: url(Resources/Backgrounds/stone-tablet.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vw 80vh;

    position: absolute;
    right: -6vw;

    width: 30vw;
    height: 75vh;

    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
}
.setting{
    height: 100%;
    width: 100%;
    margin: 6vw;
}
main .side-bar.visible{
    transform: translateX(0);
}