
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Oswald", sans-serif;
    height: 100vh;
    width: 100vw;

    background-color: #A44141;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.topHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: #480E0E;
    padding: 8px 16px;

}
.logo-container{
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-row-space-between{
    border-top: 1px solid #480E0E;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-height: 512px){
    .logo-container{
        width: 90px;
    }
}
.text-outline{
    color: #D59F0A;
    font-weight: 900;
    -webkit-text-stroke: 1px #480E0E;
    text-shadow: 0px 4px 1px black;
}

.custom-button {
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b18409 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;

    color: white;
    font-weight: 700;

    background-color: #D59F0A;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.circle-button{
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    padding: 5px !important;
}
.circle-button img {
    height: 30px;
    width: 30px;
}

/*button anims*/
.custom-button:hover {
    transform: translateY(-2px);
}

.custom-button:active {
    box-shadow: #b18409 0 3px 7px inset;
    transform: translateY(2px);
}
.custom-button {
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b18409 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;

    color: white;
    font-weight: 700;

    background-color: #D59F0A;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.circle-button img {
    height: 30px;
    width: auto;
}
.dark-red{
    background-color: #480E0E;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#290808 0 -3px 0 inset;
}
.dark-red:active{
    box-shadow: #290808 0 3px 7px inset !important;
}

/*button anims*/
.custom-button:hover {
    transform: translateY(-2px);
}

.custom-button:active {
    box-shadow: #b18409 0 3px 7px inset;
    transform: translateY(2px);
}
.responsive-title {
    font-size: clamp(2rem, 2vw + 1rem, 4rem) !important;
}
.responsive-subtitle{
    font-size: clamp(1.5rem, 1vw + 1rem, 3rem) !important;
}
.responsive-text{
    font-size: clamp(1rem, 1vw + 1rem, 2rem) !important;
}